
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    cursor: url("../assets/cursors/pixel.cur"), auto;
}
a,
button,
.talk-btn,
.job__icon,
.languages-header__icon,
.skills-header__icon,
.system-message__close img{
    cursor: url("../assets/cursors/pointer.cur"), pointer;
}

/* FONT IMPORTS */

@font-face {
    font-family: "Super Pixel";
    src: url("../fonts/SuperPixel-m2L8j.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Gome Pixel";
    src: url("../fonts/GomePixel-ARJd7.otf") format("opentype");
    font-display: swap;
}
