<section id="cretifications" class="cretifications">

    <!-- Background -->

    <img src="assets/img/windows-background.png" alt="" class="certificates__background">

    <!-- Desktop Icons -->

    <div class="desktop-icons">

        <div class="desktop-icon icon-documents">
            <img src="assets/icons/docs-icon.png" alt="">
            <span>Documents</span>
        </div>

        <div class="desktop-icon icon-recycle">
            <img src="assets/icons/recyclebin-icon.png" alt="">
            <span>Recycle Bin</span>
        </div>

        <a href="#projects" class="desktop-icon icon-projects">
            <img src="assets/icons/folder-icon.png" alt="">
            <span>My Projects</span>
        </a>

        <div class="desktop-icon icon-computer">
            <img src="assets/icons/computer-icon.png" alt="">
            <span>My Computer</span>
        </div>

        <a href="../assets/docs/resume.pdf" target="_blank" class="desktop-icon icon-cv">
            <img src="assets/icons/folder-icon.png" alt="">
            <span>My CV</span>
        </a>

        <div class="desktop-icon icon-pictures">
            <img src="assets/icons/picsfolder-icon.png" alt="">
            <span>Pictures</span>
        </div>

        <div class="desktop-icon icon-ie">
            <img src="assets/icons/internetex-icon.png" alt="">
            <span>Internet Explorer</span>
        </div>

        <div class="desktop-icon icon-firefox">
            <img src="assets/icons/mozillafirefox-icon.png" alt="">
            <span>Mozilla Firefox</span>
        </div>

        <div class="desktop-icon icon-chrome">
            <img src="assets/icons/chrome-icon.png" alt="">
            <span>Chrome</span>
        </div>

    </div>

    <!-- Certificates -->

    <div class="certificates-slider">

        <div class="certificates-track"></div>

    </div>

</section>