<section id="cretifications" class="cretifications">

    <!-- Background -->

    <img src="assets/img/windows-background.png" alt="" class="certificates__background">

    <!-- Desktop Icons -->

    <div class="desktop-icons">

        <!-- Computer -->

        <div class="desktop-icon">
            <img src="assets/icons/computer-icon.png" alt="">
            <span>My Computer</span>
        </div>

        <!-- Documents -->

        <div class="desktop-icon">
            <img src="assets/icons/docs-icon.png" alt="">
            <span>Documents</span>
        </div>

        <!-- Pictures -->

        <div class="desktop-icon">
            <img src="assets/icons/picsfolder-icon.png" alt="">
            <span>Pictures</span>
        </div>

        <!-- Chrome -->

        <div class="desktop-icon">
            <img src="assets/icons/chrome-icon.png" alt="">
            <span>Google Chrome</span>
        </div>

        <!-- Firefox -->

        <div class="desktop-icon">
            <img src="assets/icons/mozillafirefox-icon.png" alt="">
            <span>Mozilla Firefox</span>
        </div>

        <!-- IE -->

        <div class="desktop-icon">
            <img src="assets/icons/internetex-icon.png" alt="">
            <span>Internet Explorer</span>
        </div>

        <!-- Projects -->

        <a href="#projects" class="desktop-icon">

            <img src="assets/icons/folder-icon.png" alt="">

            <span>My Projects</span>

        </a>

        <!-- CV -->

        <a href="#" class="desktop-icon">

            <!-- Add CV Link -->

            <img src="assets/icons/folder-icon.png" alt="">

            <span>My CV</span>

        </a>

        <!-- Recycle Bin -->

        <div class="desktop-icon">

            <img src="assets/icons/recyclebin-icon.png" alt="">

            <span>Recycle Bin</span>

        </div>

    </div>

    <!-- Certificates -->

    <div class="certificates-slider">

        <div class="certificates-track"></div>

    </div>

</section>