<header class="header">

    <div class="header__logo">
        <a href="#about">AYAT</a>
    </div>

    <nav class="header__nav">

        <ul>

            <li>
                <a href="#about">About</a>
            </li>

            <li>
                <a href="#experience">Experience</a>
            </li>

            <li>
                <a href="#cretifications" id="certificates-nav">
                    Certifications
                </a>
            </li>

            <li>
                <a href="#projects">Projects</a>
            </li>

            <li>
                <a href="#research">Research</a>
            </li>

            <li>
                <a href="#coding">Coding</a>
            </li>

            <li>
                <a href="#contact">Contact</a>
            </li>

        </ul>

    </nav>

    <a href="mailto:ayatabdulaziz.qi@outlook.com" class="talk-btn">
        <span>Let's Talk</span>
    </a>

</header>