<section id="projects" class="projects">

    <!-- ==========================================
         BACKGROUND
    =========================================== -->

    <img
        src="assets/img/projects_bck.jpg"
        alt="Projects Background"
        class="projects__background"
    >


    <!-- ==========================================
         PROJECT SLIDES
    =========================================== -->

    <div class="projects-slider">

        <!-- Previous Project -->
        <div class="project-slide previous"></div>

        <!-- Current Project -->
        <div class="project-slide active"></div>

        <!-- Next Project -->
        <div class="project-slide next"></div>

    </div>

</section>